@font-face {
    font-family: 'Rounded Elegance';
    src: local('Rounded Elegance'), local('RoundedElegance-Regular'),
        url('../fonts/hinted-RoundedElegance-Regular.woff2') format('woff2'),
        url('../fonts/hinted-RoundedElegance-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
