{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="splash-screen">
    <main class="site-main" id="main">
        <section class="section section--first" id="home">
            <div class="paper paper--150 paper--patterns in-view" data-elements="PAPER_06">
                <script>
                    var PAPER_06 = [
                        {
                            type: 'raster',
                            src: '/static/media/sponsors/radionet.jpg',
                            rotate: 0,
                            mobile: {
                                x: -150,
                                y: 100,
                                scale: 0.4
                            },
                            desktop: {
                                x: -350,
                                y: 150,
                                scale: 0.5
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--14.png',
                            rotate: 0,
                            mobile: {
                                x: 300,
                                y: -100,
                                scale: 0.3
                            },
                            desktop: {
                                x: 400,
                                y: 50,
                                scale: 0.4
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--13.png',
                            rotate: 0,
                            mobile: {
                                x: -105,
                                y: -360,
                                scale: 0.2
                            },
                            desktop: {
                                x: -450,
                                y: -460,
                                scale: 0.3
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--13.png',
                            rotate: 0,
                            mobile: {
                                x: 95,
                                y: -310,
                                scale: 0.3
                            },
                            desktop: {
                                x: 90,
                                y: -410,
                                scale: 0.4
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--08.png',
                            rotate: 190,
                            mobile: {
                                x: 295,
                                y: -100,
                                scale: 0.15
                            },
                            desktop: {
                                x: 390,
                                y: 30,
                                scale: 0.2
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--09.png',
                            rotate: 0,
                            mobile: {
                                x: -150,
                                y: 100,
                                scale: 0.1
                            },
                            desktop: {
                                x: -450,
                                y: 150,
                                scale: 0.15
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--11.png',
                            rotate: 0,
                            mobile: {
                                x: -220,
                                y: -170,
                                scale: 0.2
                            },
                            desktop: {
                                x: -600,
                                y: -155,
                                scale: 0.25
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--14.png',
                            rotate: 0,
                            mobile: {
                                x: 120,
                                y: 220,
                                scale: 0.15
                            },
                            desktop: {
                                x: 100,
                                y: 250,
                                scale: 0.2
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--12.png',
                            rotate: 0,
                            mobile: {
                                x: -220,
                                y: -170,
                                scale: 0.35
                            },
                            desktop: {
                                x: -600,
                                y: -155,
                                scale: 0.4
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--09.png',
                            rotate: 0,
                            mobile: {
                                x: -70,
                                y: 250,
                                scale: 0.2
                            },
                            desktop: {
                                x: -300,
                                y: 320,
                                scale: 0.25
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--15.png',
                            rotate: 0,
                            mobile: {
                                x: 120,
                                y: 220,
                                scale: 0.35
                            },
                            desktop: {
                                x: 100,
                                y: 250,
                                scale: 0.4
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--07.png',
                            blendMode: 'multiply',
                            rotate: 30,
                            mobile: {
                                x: -80,
                                y: 140,
                                scale: 0.3
                            },
                            desktop: {
                                x: -80,
                                y: 140,
                                scale: 0.3
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--06.png',
                            blendMode: 'multiply',
                            rotate: 90,
                            mobile: {
                                x: -250,
                                y: -350,
                                scale: 0.3
                            },
                            desktop: {
                                x: -250,
                                y: -450,
                                scale: 0.3
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--07.png',
                            blendMode: 'multiply',
                            rotate: 90,
                            mobile: {
                                x: -220,
                                y: -170,
                                scale: 0.4
                            },
                            desktop: {
                                x: 420,
                                y: -170,
                                scale: 0.4
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--07.png',
                            blendMode: 'multiply',
                            rotate: 230,
                            mobile: {
                                x: -200,
                                y: -50,
                                scale: 0.4
                            },
                            desktop: {
                                x: -380,
                                y: 180,
                                scale: 0.4
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--07.png',
                            blendMode: 'multiply',
                            rotate: 180,
                            mobile: {
                                x: -50,
                                y: -290,
                                scale: 0.3
                            },
                            desktop: {
                                x: -520,
                                y: -290,
                                scale: 0.3
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--06.png',
                            blendMode: 'multiply',
                            rotate: 180,
                            mobile: {
                                x: 50,
                                y: -200,
                                scale: 0.4
                            },
                            desktop: {
                                x: 300,
                                y: -200,
                                scale: 0.4
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--06.png',
                            blendMode: 'multiply',
                            rotate: 90,
                            mobile: {
                                x: 100,
                                y: -100,
                                scale: 0.3
                            },
                            desktop: {
                                x: 500,
                                y: -100,
                                scale: 0.3
                            }
                        },
                        {
                            type: 'raster',
                            src: '/static/media/stock/shape--06.png',
                            blendMode: 'multiply',
                            rotate: 130,
                            mobile: {
                                x: -140,
                                y: -330,
                                scale: 0.3
                            },
                            desktop: {
                                x: -120,
                                y: -350,
                                scale: 0.4
                            }
                        }
                    ];
                </script>
                <canvas class="in-view__child in-view__child--fadein" data-paper-resize="true"
                        data-paper-keepalive="true"></canvas>
            </div>


            <div class="container">
                <div class="row in-view">
                    <div class="col-12 col-xl-10 offset-xl-1 text-center text-lg-left">
                        <h5 class="in-view__child in-view__child--fadein">
                            <span class="main-title">ADASS XXX // November 8 - 12 2020</span>
                        </h5>
                        <h1 class="display-one in-view__child in-view__child--fadein main-title">
                            <span>Astronomy</span>
                            <br>
                            <span>meets Granada</span>
                        </h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="section" id="widecard">
            <div class="container">

                <div class="row in-view">
                    <div class="col-12 col-xl-10 offset-xl-1">
                        <div class="reveal reveal--left reveal--darken reveal--secondary">
                            <h3 class="in-view__child in-view__child--fadein">Main conference
                                <br>5 day of tutorials, talks and BoFs</h3>
                            <div class="reveal__copy indent">
                                <p class="in-view__child in-view__child--fadein">
                                  Four tutorial, more than 40 oral presentations,
                                  more than 100 posters and three BoF sessions per day
                                  dedicated to astronomy, software, data, algorithms and
                                  operations.
                                </p>
                                <div class="row">
                                    <div class="col-12 col-md-12 in-view__child in-view__child--fadein">
                                        <h6>Venue: Hotel Abades Nevada Palace</h6>
                                        <a class="sub-head dashed dashed--reverse in-view__child" href="/venue">November 8-12</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section padding-top-0">
            <div class="container in-view">
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                        <h3 class="in-view__child in-view__child--fadein">Our amazing sponsors</h3>
                        <div class="row padding-top margin-top">
                            {% for sponsor_type in bag('sponsors').types %}
                                {% for sponsor in sponsor_type.sponsors %}


                                    <div class="col-3 col-sm-2 in-view__child in-view__child--fadein">
                                        <div class="company">
                                            <img class="lazyload"
                                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 data-src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" width="320" height="168">
                                        </div>
                                    </div>


                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div><small><i>This event has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 730562 [RadioNet]</i></small></div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
        </section>
        <section class="section" id="registration">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1 text-center">
                        <h2 class="margin-top">
						<span>350
							<span class="color--secondary">astronomers and engineers </span>
							<br class="hidden-sm-down">for a 5-days <span class="color--secondary">unique
								experience</span></span>
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <section id="cta">
            <div class="cta cta--darken cta--secondary in-view" data-offset="90%">
                <div class="cta__copy text-center">
                    <div class="d-inline-block margin-top margin-bottom in-view__child in-view__child--scalein">
                        <a class="btn" target="_self" href="#">
                          Register today (Coming Soon)
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </div>

{% endblock %}
